@charset "UTF-8";
/**
 * wxui.grid stylesheet
 *
 * @authors scotthuang (scotthuang@tencent.com)
 * @date    2013-10-10 21:05:48
 * @version 1.0
 */
.wxGridTop { position: relative; border: 1px solid #DDDDDD; border-radius: 4px 4px 0 0; padding: 45px 15px 0 15px;}
.wxGridTitle { color: #BBBBBB; font-size: 12px; font-weight: bold; letter-spacing: 1px; position: absolute; top: 15px; left: 15px; text-transform: uppercase;}
.wxGridBottom { background-color: #F7F7F9; border: 1px solid #E1E1E8; border-top: 0; border-radius: 0 0 4px 4px; margin-bottom: 14px; padding: 9px 14px;}
.wxGridBottom span { position: relative; display: inline-block;}
.wxPager { float: right; top: -7px; left: -1;}

.wxPagerHack { display: inline-block; margin: 0; margin-right: 5px;}
.wxPagerHack li { margin-right: 5px;}

.wxPagerInput { display: inline-block !important; width: 51px; border-radius: 4px 0 0 4px !important; margin-bottom: 0 !important;}
.wxPagerBtn { position: relative; border-radius: 0 4px 4px 0; border-left: 0;}
.wxPagerNormalGroup { position: relative; top: 1px;}

.wxLoadMask { display: none; position: absolute; top: 0; left: 0; opacity: 0.9; width: 100%; height: 100%; background-color: #eeeeee; z-index: 500;}
.wxLoadInfo { position: relative; top: 45%; left: 40%; font-weight: bold;}

.wxSort:hover { cursor: pointer;}

.wxThead { vertical-align: middle !important;}
.wxThead .wxSort { display: inline-block; position: relative; float: right; top: 0;}
.wxThead .wxSortText { top: 4px;}
.wxThead span { display: block; font-size: 11px;}
.wxThead .glyphicon-chevron-down { left: -1px;}
.wxUnshown { display: none}
.wxSortDisable { color: #e9e9e9;}

.wxHideOutline { outline: none !important;}
.wxNotFloat { float: none !important;}

.wxGridTheadSort { cursor: pointer;}